<title><%=title%></title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="./img/favicon.ico">
<!--Bootstrap 3.3.7-->
<!-- build:css css/bootstrap.css -->
<link rel="stylesheet" href="../assets/bower/bootstrap/dist/css/bootstrap.min.css" >
<%
function getLastName(filename) {
	return filename.replace(/^.*[\\\/]/, '');
}
bowerCSS.forEach(cssItem => { %>
<!-- build:css css/<%= getLastName(cssItem) %> -->
<link rel="stylesheet" href="../assets/bower/<%= cssItem %>">
<!-- endbuild -->
<% });
css.forEach(cssItem => { %>
<!-- build:css css/<%= getLastName(cssItem) %> -->
<link rel="stylesheet" href="../public/css/<%= cssItem %>">
<!-- endbuild -->
<% }); %>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->